.login{height:100vh;background:url('../images/restaurant.png');background-size:cover;background-position:center center;}

.login-box{box-shadow:2px 3px 8px #333333aa;padding:10px;background:#fff;border-radius:3px;width:420px;height:434.4px;margin-top:8vw;display:flex;align-items:center;flex-direction:column;}
.login-logo{filter:invert(100%);height:60px;}
.login-title{font-family:"oswaldlight";letter-spacing:2px;margin-bottom:30px;}
.form-group{width:86%;}
.login-btn{width:86%;background:#30419b;transition:all 0.2s;position:relative;top:0;margin-top:20px;}
.login-btn:hover{width:86%;position:relative;top:-2px;width:80%;padding:8px 0;background:#3e53be;}

.lockinfo{font-size:18px;line-height:80px;}
.logout-btn{width:86%;background:#00000000;color:#4862e6;transition:all 0.2s;position:relative;top:0;margin-top:10px;}